.add-text-wrap{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.add-text{
  font-size: 24px;
}

.img-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.entry-wrap{
  width: 55%;
  background: #f0f2f2;
  padding: 15px;
  border-radius: 20px;
}
.tags-wrap{
  display: flex
}

.top-wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.button-wrap{
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}

.entry-image{
  width: 150px;
  height: 150px;
}